<br/>
<section class="container">
<br/>
<%= form_with(model:@gossip,local:true, url: gossip_path(params[:id]) ,  method: :patch) do |form| %>
<% if @gossip.nil? == false && @gossip.errors.any? %>
   <p>Nous n'avons pas réussi à créer le potin pour la (ou les) raison(s) suivante(s) :</p>
    <% @gossip.errors.full_messages.each do |message| %>
    <div class="alert alert-danger" role="alert">
      <p><%= message %></p>
    </div>    
<% end %>
<% end %>
  <%= form.label :title, "Title:",class:"form-label" %>
  <%= form.text_field :title,value:@gossip.title,class:"form-control"%>
  <%= form.label :content, "Content:",class:"form-label" %>
  <%= form.text_field :content,value:@gossip.content,class:"form-control" %>
  <%= form.hidden_field :gossip_id, value: params[:id] %>

  <br/>
  <%= form.submit "Editer gossip", class:"btn btn-primary" %>
<% end %>
</div>
</section>
